body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #111;
    color: #eee;
}

.header {
    background: linear-gradient(to right, #000, #1c1c1c);
    padding: 40px 20px;
    text-align: center;
    border-bottom: 3px solid #c9a227;
}

.header h1 {
    margin: 0;
    font-size: 42px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c9a227;
}

.container {
    display: flex; /* Робить меню та контент поруч */
    min-height: 500px;
}

.menu {
    width: 220px;
    background-color: #181818;
    border-right: 2px solid #c9a227;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu a {
    display: block;
    padding: 15px;
    color: #eee;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #c9a227;
    color: #000;
    padding-left: 20px;
}

.content {
    flex: 1;
    padding: 40px;
}

.footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #c9a227;
    color: #777;
}